@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {border: 0 none;font-style: inherit;font-weight: inherit;margin: 0;outline: 0 none;padding: 0;vertical-align: baseline;}
html{height: 100%;}
body {background: #f6f6f6 none repeat scroll 0 0;color: #000;font-family:"Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;min-height: 100%;}
* {-webkit-tap-highlight-color:transparent;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
*:before,*:after{-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;-ms-box-sizing: border-box;}
ol,ul {list-style: outside none none;}
table {border-collapse: collapse;border-spacing: 0;vertical-align: middle;}
caption,th,td {font-weight: normal;text-align: center;vertical-align: middle;}
a {text-decoration: none;}
a:hover{text-decoration: none;}
a img {border: medium none;}
input:-webkit-autofill,textarea:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset; } 
input,textarea{-webkit-appearance: none;outline: none;}
input[type="button"]{padding:0;}
.hide {display: none;}
.show {display: block;}

/*1px 边框*/
.one_px_border{width:100%;position: relative;}
.one_px_border:before {content: " ";position: absolute;left: 0;top: 0;width: 100%;height: 1px;border-top: 1px solid #D9D9D9;color: #D9D9D9;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
.one_px_border:after {content: " ";position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;border-bottom: 1px solid #D9D9D9;color: #D9D9D9;-webkit-transform-origin: 0 100%;transform-origin: 0 100%;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}

/*提示*/
.tips {position: fixed;top: 40%;left: 50%;transform: translate(-50%, -50%);background: rgba(0, 0, 0, .7);padding: 10px 15px;z-index: 20;font-size: 15px;color: #fff;border-radius: 3px;word-break: break-all;display: none;line-height:1.5;}
.tips_show {display: block;}
.tips_center{text-align: center;max-width:40%;}
.tips_left{text-align: left;width:236px;}

/*分割线 <div class="break_line"></div>*/
.break_line{width: 100%;height: 1px;background-color: #D9D9D9;-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);margin:8px 0;}

/*加载动画*/
.loader {display: inline-block;font-size: 0px;padding: 0px;position: absolute;z-index: 21;top:0;bottom: 0;left: 0;right: 0;display: none;}
.loader .loader_bg{position:absolute;top:0;bottom: 0;left: 0;right: 0;background: rgba(0,0,0,0.7);}
.loader .span_wrap{position:absolute;top: 35%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);    padding: 24px 10px;border-radius: 4px;background: rgba(0,0,0,0.7);}
.loader .span_wrap span {vertical-align: middle;border-radius: 100%;display: inline-block;width: 12px;height: 12px;margin: 0 2px;-webkit-animation: loader 0.8s linear infinite alternate;animation: loader 0.8s linear infinite alternate;}
.loader .span_wrap span:nth-child(1) {-webkit-animation-delay: -1s;animation-delay: -1s;background: rgba(255,255,255,1);}
.loader .span_wrap span:nth-child(2) {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;background: rgba(255,255,255,1);}
.loader .span_wrap span:nth-child(3) {-webkit-animation-delay: -0.4s;animation-delay: -0.4s;background: rgba(255,255,255,1);}
.loader .span_wrap span:nth-child(4) {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;background: rgba(255,255,255,1);}
.loader .span_wrap span:nth-child(5) {-webkit-animation-delay: -1s;animation-delay: -1s;background: rgba(255,255,255,1);}
@keyframes loader {from {transform: scale(0, 0);}to {transform: scale(1, 1);}}
@-webkit-keyframes loader {from {-webkit-transform: scale(0, 0);}to {-webkit-transform: scale(1, 1);}}

/*弹窗*/
.layer_container{position: fixed;top: 0;left: 0;z-index: 100;display: table;height: 100%;width: 100%;}
.layer_container .bg{position: absolute;top: 0;left: 0;right: 0;bottom:0;background: rgba(0,0,0,.6);z-index: 1;}
.layer_container .layer_cont_wrap{display: table-cell;text-align: center;vertical-align: middle;width: 100%;position: relative;
    z-index: 2;}
.layer_container .layer_cont{display:block;-webkit-animation: animLayer .4s ease-out;animation: animLayer .4s ease-out;}
@-webkit-keyframes animLayer {
 from{-webkit-transform: scale(.05);transform: scale(.05);}
 to{-webkit-transform: scale(1);transform: scale(1);}
}
@keyframes animLayer {
  from{-webkit-transform: scale(.05);transform: scale(.05);}
  to{-webkit-transform: scale(1);transform: scale(1);}
}
/*确认弹窗*/
.conform_dialog{font-size: 0.24rem;color: #333;text-align: center;width: 5.2rem;background-color: #fff;margin: 1rem auto;border-radius: 3px;}
.conform_dialog .c_cont{padding: 0.4rem 0.24rem;position: relative;}
.conform_dialog .c_cont:after{content: " ";position: absolute;left: 0;bottom:0;width: 100%;height: 1px;border-top: 1px solid #e1e1e1;color: #e1e1e1;-webkit-transform-origin: 0 100%;transform-origin: 0 100%;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
.conform_dialog .c_cont .c_title{font-size: 0.3rem;}
.conform_dialog .c_cont .c_txt{text-align: left;margin-top:0.3rem;}
.conform_dialog .c_btns{font-size: 0.3rem;position: relative;display: flex;-webkit-display: flex;}
.conform_dialog .c_btns>a{color: #333;height:0.8rem;line-height: 0.8rem;display: block;float: left;flex:1;-webkit-flex:1;position: relative;}
.conform_dialog .c_btns>a:active{background-color: #ff6700;color: #fff;}
.conform_dialog .c_btns>a:first-child{border-bottom-left-radius: 3px;}
.conform_dialog .c_btns>a:after{content:" ";position: absolute;right: 0;top: 0;width: 1px;height:100%;border-right: 1px solid #e1e1e1;color: #e1e1e1;-webkit-transform-origin: 0 100%;transform-origin: 0 100%;-webkit-transform: scaleX(0.5) translateX(100%);transform: scaleX(0.5) translateX(100%);}
.conform_dialog .c_btns>a:last-child{border-bottom-right-radius: 3px;}
.conform_dialog .c_btns>a:last-child:after{display: none;}

/* media */
/* 横屏 */
@media screen and (orientation:landscape){
    
}
/* 竖屏 */
@media screen and (orientation:portrait){
    
}
/* 窗口宽度<960,设计宽度=768 */
@media screen and (max-width:959px){
    
}
/* 窗口宽度<768,设计宽度=640 */
@media screen and (max-width:767px){
    
}
/* 窗口宽度<640,设计宽度=480 */
@media screen and (max-width:639px){
    
}
/* 窗口宽度<480,设计宽度=320 */
@media screen and (max-width:479px){
    
}
/* windows UI 贴靠 */
@media screen and (-ms-view-state:snapped){
    
}
/* 打印 */
@media print{
    
}




